.canvas {
    touch-action: none;
}

.overlay {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 8vh;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.baseButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1vmin;
    padding: 1.5vmin;
    height: 90%;
    outline: none;
    border: 2px solid #ebc034;
    border-radius: 3px;
    transition: 0.3s;
}

.quadraticButton {
    aspect-ratio: 1 / 1;
}

.stretchButton {
    aspect-ratio: 4 / 3;
}

.buttonIcon {
    height: 75%;
}

.defaultButton {
    background-color: rgb(10, 10, 10);
    opacity: 0.8;
    color: #ebc034;
}

.defaultButton:hover {
    opacity: 1;
    background-color: #ebc034;
    color: white;
}

.activatedButton {
    opacity: 1;
    background-color: #006d00;
    border: 2px solid rgb(230, 230, 230);
    color: rgb(230, 230, 230);
}

.activatedButton:hover {
    opacity: 1;
    background-color: #00b100;
    border: 2px solid white;
    color: white;
}
