.canvas {
    touch-action: none;
}

.overlay {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 8vh;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.baseButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1vmin;
    padding: 1vmin;
    height: 90%;
    outline: none;
    border: 2px solid #ebc034;
    border-radius: 3px;
    transition: 0.3s;
}

.quadraticButton {
    aspect-ratio: 1 / 1;
}

.stretchButton {
    aspect-ratio: 4 / 3;
}

.menuButton {
    aspect-ratio: 9 / 8;
}

.buttonIcon {
    height: 80%;
}

.defaultButton {
    background-color: rgb(10, 10, 10);
    opacity: 0.8;
    color: #ebc034;
}

.defaultButton:hover {
    opacity: 1;
    background-color: #ebc034;
    color: white;
}

.activatedButton {
    opacity: 1;
    background-color: #006d00;
    border: 2px solid rgb(230, 230, 230);
    color: rgb(230, 230, 230);
}

.activatedButton:hover {
    opacity: 1;
    background-color: #00b100;
    border: 2px solid white;
    color: white;
}

.menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 3vmin;
    height: 70%;
    width: 90vmin;
    top: 45%;
    left: 50%;
    border-radius: 7px;
    border: 3px solid #ebc034;
    transform: translate(-50%, -50%);
    background-color: rgba(30, 30, 30, 0.95);
    transition: opacity 1000ms, visibility 1000ms;
}

.menuTopRow {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.crossButtonContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 5vh;
    padding: 0.5vmin;
    top: 0%;
    right: 0%;
}

.structChooser {
    height: 70%;
    width: 95%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.structButton {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1vmin;
    padding: 1vmin;
    width: 100%;
    outline: none;
    border-radius: 5px;
    transition: 0.3s;
    background-color: rgb(10, 10, 10);
    opacity: 0.8;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.structButton:hover {
    opacity: 1;
    background-color: rgb(20, 20, 20);
}

.structDescr {
    border-radius: 3px;
    padding-left: 1vmin;
    padding-right: 1vmin;
    margin: 1vmin;
}

.structIcon {
    width: 95%;
}

.text {
    color: white;
    font-weight: bold;
    font-family: "Courier New", monospace;
}

.noWrapText {
    white-space: nowrap;
    overflow: hidden;
}

.largeHeading {
    font-size: 15vmin;
    white-space: nowrap;
    overflow: hidden;
}

.heading {
    font-size: 10vmin;
}

.message {
    font-size: 5vmin;
}
